

/* .logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
} */
/* .logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
} */

.credit-score-container{
  height: 500px;
  display: flex;
  flex-direction: column;
  /* background-color: green; */
  /* justify-content: center; */
  align-items: center;
  width: 100%;
}
.credit-score-meter{
  height: fit-content;
  z-index: 1;
  /* background-color: yellow; */
  transform: translateY(49%);
     /* width: 100%; */
} 
.button-section{
  background-color: white;
  height: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.button-container{
  display: flex;
  justify-content: space-around;
  width: 50%;
  height: fit-content;
}
.borrow-button{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  width: 100px;
  background-color: red;
  outline: 0;
  border: 0;
  border-radius: 10px;
}